header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 50px;

  &.black {
    background-color: #053456;
  }

  &.gray {
    background-color: gray;
  }

  .logo {
    width: 50px;
  }

  .sort {
    cursor: pointer;
  }
}
